h1{
    text-align: center !important;
    margin-top: 3rem !important;
}

html,body{
    background:#eee !important;
}

@media (min-width:992px) {    
    .vertical-nav {
        position: fixed;
        top: 56px;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #f8f8f8;
        overflow-y: auto;
        padding-top: 30px
      }
  }

  .navbar-brand{
    margin-left: 3%;
  }

  .navIMG{
    width: 2%;
  }