{% extends 'flash.html' %}

{% block content %}
    <h1>{% block title %} Vos Statistiques {% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Courte</th>
            <th scope="col">Original</th>
            <th scope="col">Clics</th>
            <th scope="col">Date de création</th>
            <th scope="col">Effacer</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <th scope="row">{{ url['id'] }}</th>
                    <td>{{ url['short_url'] }}</td>
                    <td>{{ url['original_url'] }}</td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['created'] }}</td>
                    <form action="{{ url_for('delete_stats') }}" method="post">
                        <td><input type="hidden" name="entry_id" value="{{ url['id'] }}">
                            <input type="submit" class="btn btn-outline-danger" value="Delete" /></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

